html,
body {
  width: 100%;
  padding: 0;
  margin: 0;
  overflow-x: hidden;
}

.like {
  font-size: 30px;
  text-align: center;
  color: #dadada;
  margin-left: 6%;
  h6 {
    color: white;
    font-size: 12px;
    text-align: center;
  }
}
.like:hover {
  cursor: pointer;
}


// *** Navbar ***

.navbar {
  padding-left: 8%;
  background-color: #202020;
  height: 4rem;
  border-bottom: 1px solid rgb(56, 56, 56);
}

.navbar-end {
  padding-right: 5%;
  padding-top: 10px;
  padding-bottom: 10PX;
}

.navbar-item {
  color: white;
  font-weight: bold;
  background-color: #202020;
  display: flex;
  transition: 600ms;
  justify-content: center;
}
a.navbar-item:hover {
  color: #009cc4;
  transition: 600ms;
}
a.navbar-item:active {
  color: #009cc4;
}

a.navbar-item:focus, a.navbar-item:focus-within, a.navbar-item:hover, a.navbar-item.is-active, .navbar-link:focus, .navbar-link:focus-within, .navbar-link:hover, .navbar-link.is-active {
  background-color: #202020;
  color: #009cc4;
}

.sign-in {
  border: 1px solid white;
  padding: 0 2%;
  border-radius: 12px;
}

// *** Home Page *** 

// Movie rows

.movie-row{
  display: flex;
  overflow-y: hidden;
  overflow-x: scroll;
  -webkit-overflow-scrolling: touch;
  padding: 25px 5px;
  margin-bottom: 20px;
  margin-left: 50px;
  margin-right: 50px;
}

// .movie-row::-webkit-scrollbar {
//   display: none;
// }

.row-poster {
  object-fit: contain;
  width: 200px;
  transition: transform 500ms;
  margin-right: 15px;
  img {
    border-radius: 6px;
  }  
}

.row-poster:hover {
  transform: scale(1.09);
}

.home-titles {
  h1 {
    font-weight: bold;
    color: white;
    margin-left: 60px;
    margin-top: 10px;
  }
}

.profile-container {
  height: auto;
  padding: 2em 0.1em 10em;
  background-color: rgb(17, 17, 17);
  h1 {
    padding: 30px 0 1px 55px;
    font-weight: bold;
    font-size: 24px;
    color: white;
  }
}

// Hero 

.title {
  position: relative;
  h2 {
    position:absolute;
    top: 40%;
    right: 45%;
    color: white;
    font-weight: bold;
    background-color: #181818;
    border-radius: 12px;
    padding: 10px 30px;
    font-size: 20px;
    transition: 500ms;
  }
  h2:hover {
    background-color: #009cc4;
    transition: 500ms;
  }
}

.featured {
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.8;
  h2 {
    background-color: white;
  }
}

.home-main {
  background-color: #17171b;
}        

// *** Show One Movie Page ***

// Poster image

.poster-view {
  img {
    max-width: 320px;
    border-radius: 20px;
    height: auto;
  }
  padding: 90px 0 50px 80px;
  margin-left: 50px;
}

// Movie details


.details {
  display: flex;
  // background-color: #522323;  
  background-color: #161616; 
  // background-color: #08080a; 
  height: auto;
  padding-bottom: 8%;
  border-bottom: 2px solid #3b3b3b;

  h1 {
    font-weight: bold;
    color: white;
    margin-left: 8%;
  }
}


.right-box {
  background-color: #161616;
  // background-color: #522323;
  padding-top: 70px;
  margin-right: 90px;
  border-radius: 20px;
  padding-bottom: 50px;
  height: 525px;
}

.movie-title {
  // font-family: 'Source Sans Pro', sans-serif;
  display: flex;
  h1 {
    color: white;
    padding-top: 4%;
    font-weight: bold;
    font-size: 35px;
  }
  h2 {
    color: white;
    padding-top: 4%;
    font-size: 35px;
  }
  
}

.movie-info {
  display: flex;
  margin-left: 8%;
  padding-top: 2px;
  font-family: Quicksand;
  h3 {
    
    display: inline;
    color: #ffffff8e;
    border: 1px solid rgba(255, 255, 255, 0.575);
    padding: 2px 2px 2px 6px;
    margin-right: 15px;
    font-size: 15px;
  }
  h4 {
    display: inline;
    color: white;
    font-size: 15px;
  }
  .duration {
    margin-left: 15px;
  } 
}
.average-rating {
  display: flex;
  justify-content: center;
  margin-top: 25px;
  margin-bottom: 20px;
  margin-left: 8%;
  background-color: #4d4d4d;
  width: 9em;
  padding: 4px 13px 4px 8px;
  border-radius: 20px;
  // border: 1px solid rgb(133, 133, 133);
  h4 {
    color: white;
    font-weight: bold;
    font-family: Quicksand;
    margin-right: 4px;
    font-size: 13px;
  }
  h5 {
    color: rgb(255, 255, 255);
    font-size: 11px;
    font-weight: bold;
    font-family: Quicksand;
    background-color: #1d1d1d;
    border-radius: 10px;
    border: 1px solid #0097c5;
    padding: 1px 5px;
  }
}
.overview {
  h1 {
    // font-family: 'Source Sans Pro', sans-serif;
    margin-top: 5px;
    text-align: left;
    font-size: 26px;
    font-weight: bold;
  }
}
.description {  
  padding: 1% 20% 2% 8%;
  flex-wrap: wrap;
  text-align: left;
  p {
    line-height: 1.5em;
    letter-spacing: 0.014em;
    // font-family: 'Quicksand';
    font-size: 15px;
    color: white;
  }
}

.cast {
  text-align: left;
  display: flex;
  padding-top: 30px;
  padding-left: 8%;
  padding-bottom: 3%;
  color: white;

}

.starring, 
.director {
  h4 {
    font-weight: bold;
    font-size: 16px;
    font-family: Quicksand;
  }
  h5 {
    font-size: 14px;
    font-weight: bold;
    font-family: Quicksand;
  }
}
.director {
  margin-right: 50px;
}

.trailer-parent {
  display: flex;
}

.trailer-parent {
  padding-left: 7.5%;
}

.trailer {
  a {
    color: rgb(255, 255, 255);
    font-size: 20px;
    font-weight: bold;
  }
  button {
    background-color: #009cc4;
    border: 1px solid #009cc4;
    padding: 4%;
    width: 200px;
    border-radius: 12px;
    transition: 500ms;
  }
  button:hover {
    background-color: #03acd6;
    transition: 500ms;
    border: 1px solid #03acd6;   
    border-radius: 12px;
  }
}

.edit-buttons {
  display: flex;
  margin-left: 5%;
  
  .button {  
    border: none;
    color: white;
    font-weight: bold;
    padding: 5% 10%;
    width: 100px;
    border-radius: 10px;
    margin: 0 5px;
    transition: 500ms;
  }
  .button:hover {
    border-radius: 10px;
    transition: 500ms;
  }
  #edit {
    background-color: #079475;
    border: none;
  }
  #delete {
    background-color: #af006c;
    border: none;
  }
  #edit:hover {
    background-color: #08a180;
    border: none;
  }
  #delete:hover {
    background-color: #c00377;
    border: none;
  }
}

// *** Comments ***

.next-page {
  background-color: #202020;
  display: flex;
  
  padding: 3% 1%;
}

.comments-left {
  
  margin-left: 70px;
  margin-top: 60px;
  padding: 0 10px;
  flex-grow: 1;
  h2 {
    
    padding: 20px 0;
    font-weight: bold;
    font-size: 30px;
  }
}

.login-to-review {
  padding: 5% 0;
  display: flex;
  flex-direction: column;
  text-align: center;
  flex-grow: 1;
  align-items: center;
  .button {
    width: 120px;  
    background-color: #009cc4;
    border: 1px solid #009cc4;
    border-radius: 12px;
    color: white;
    font-weight: bold;
  }
  .button:hover {
    background-color: #03acd6;
    border: 1px solid #03acd6;
    border-radius: 12px;
    transform: scale(1.02);
    color: white;
  }
  
  h1 {
    text-align: center;
    color: white;
    font-size: 18px;
    font-weight: bold;
    font-family: Quicksand;
    padding-bottom: 2%;
  }
  
}
.review-button {
  text-align: center;
  button {
    background-color: #009cc4;
    border: 1px solid #009cc4;
    color: white;
    font-weight: bold;
    padding: 5% 10%;
    width: 100px;
    border-radius: 10px;
    margin: 0 5px;
    transition: transform 500ms;
  }
  button:hover {
    background-color: #03acd6;
    border: 1px solid #03acd6;
    border-radius: 12px;
    transform: scale(1.03);
    
  }
}


.comments-box {
  height: 295px;
  padding: 20px; 
}
.comments-box::-webkit-scrollbar {
  width: 1em;
}

.comments-right {
  flex-grow: 2;
  overflow-y: scroll;
  overflow-x: hidden;
  border-radius: 12px;
  padding: 20px;
  background-color: white;
  margin: 60px 70px 60px 30px;
}

.review-column {
  border-radius: 12px;
  margin-right: 20px;
}

.comments-title {
  h1 {
    font-weight: bold;
    font-size: 20px;
  }
}
.comment-text {
  h3 {
    font-size: 12px;
    font-weight: bold;
    // font-style: italic;
    color: #0084ac;
  }
  p {
    font-size: 15px;
    font-family: 'Source Sans Pro', sans-serif;
  }
}
.comment-rating {
  p {
    font-weight: bold;
    font-size: 13px;
    font-family: Quicksand;
    background-color: rgb(36, 36, 36);
    color: white;
    display: inline-block;
    padding: 5px;
    border-radius: 20px;
    margin: 5px 0;
  }
}

.user-reviews-parent {
  display: flex;
  max-width: 550px;
  h1,
  h2 {
    font-weight: bold;
  }
}

.user-reviews {
  flex-direction: column;

}


// *** Register and Login Section ***

.section {
  position: relative;
  background-image: url('https://assets.nflxext.com/ffe/siteui/vlv3/9ec8d211-6a2a-460d-9b68-5d6bb1c57ee0/d504294f-8d38-4583-9c12-713e9cda3cfe/GB-en-20201228-popsignuptwoweeks-perspective_alpha_website_large.jpg');
  height: 100vh;
  background-size: cover;
  &:before {
    content: '';
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background-image: linear-gradient(to bottom right,#000000,#000000);
        opacity: .65; 
  }
}

.column {
  background-color: #000000a4;
  padding: 3%;
  margin-top: 2%;
  border-radius: 1em;
  align-items: center;
}


.add-movie {
  .column {
    // background-color: #944545a4;
    background-color: #303030a4;
    padding: 3% 8%;
    margin-top: 2%;
    border-radius: 1em;
    align-content: center;
  }
  .label {
    color: white;
  }
}

.multiple {
  .option {
    font-family: Quicksand;
    color: #5c5c5c8e;
    background-color: rgb(216, 216, 216);
  }
}

.input {
  background-color: #dfdfdf;
  font-family: Quicksand;
}

.reg-label {
  color: white;
  font-size: 30px;
  font-weight: bold;
  font-family: Quicksand;
  padding-bottom: 20px;
}

.field {
  button {
    background-color: #009cc4;
    border: 1px solid #009cc4;
    padding: 10px;
    border-radius: 8px;
    color: white;
    font-weight: bold;
  }
  button:hover {
    background-color: #03acd6;
    border: 1px solid #03acd6;
    border-radius: 8px;
    color: white;
    font-weight: bold;
    transition: transform 900ms;
  }

}

// *** Create and Update a Movie Section ***


.add-movie-section {
  background-color: #1f1e1e;
  height: auto;
  padding: 50px;
  
}

.is-multiple {
  font-size: 15px;
}
.input {
  font-size: 15px;
}
.multiple {
  margin-bottom: 30px;
  padding: 20px 100px;
  width: 500px;
}

.footer {
  background-color: #0f0f0f;
}
.columns {
  display: flex;
  justify-content: center;
  margin: 20px 0;
}
.column.is-offset-one-third {
  margin: 0;
  padding: 3%;
  width: 430px;
}


// Laptops

@media only screen
and (min-width: 1025px)
and (max-width: 1280px) {
  
.poster-view img {
  max-width: 280px;

}
.details {
  h1, h2 {
    font-size: 30px;
  }
}

.movie-info {
  padding-top: 5px;
  h3 {
    font-size: 14px;
    display: inline;
    padding: 4px;
    margin-right: 14px;
  }
  h4 {
    display: inline;
    color: white;
    font-size: 16px;
  }
  .duration {
    margin-left: 12px;
  }

}

  .overview {
    padding: 0;
    h1 {
      margin-top: 20px;
      font-size: 22px;
    }
    h2 {
      font-size: 15px;
    }
  }
  
  .director,
  .starring {
    h4 {
      font-size: 14px;
    }
    h5 {
      font-size: 13px;
    }   
  }
  .trailer {
    a {
      font-size: 15px;
    }
    button {
      width: 160px;
      border-radius: 10px;
    }
    button:hover {
      border-radius: 10px;
      transform: scale(1.015);
    }
  }
  .edit-buttons {
    margin-left: 5%;
    font-size: 15px;
    .button {
      font-size: 13px;
      width: 80px;
      border-radius: 10px;
      margin: 0 5px;
      padding: 4%;
    }
    .button:hover {
      border-radius: 10px;      
    }
  }
  .right-box {
    // background-color: #522323;
    // background-color: #161616;
    // margin-top: 80px;
    margin-right: 90px;
    border-radius: 20px;
    height: 421px;
    
  }

  .description {
    h2 {
      font-size: 16px;
    }
  }
  .cast {
    padding-top: 10px;
    padding-left: 8%;
    padding-bottom: 20px;
    text-align: center;
  }
  .director {
    margin-right: 30px;
  }
  .comments-right {
    width: 500px;
  }
    
}

// Tablet

@media only screen
and (min-width: 768px)
and (max-width: 1024px) {
  section,
  body {
    padding: 0;
    margin: 0;
    overflow-x: hidden;
    width: 100%;
  }

  .title {
    position: relative;
    h2 {
      position:absolute;
      top: 50%;
      right:38%;
      color: white;
      font-weight: bold;
      background-color: #181818;
      border-radius: 5px;
      padding: 8px 25px;
      font-size: 15px;
    }
    h2:hover {
      background-color: #202020;
    }
  }

  .logo {
    width: 150px;
    padding: 5px 0;
    margin: 15px 25px;
    }
  .logo:active {
    background-color: #202020;
  }


  .mobile-navbar {
    background-color: #202020;
}

  .movie-row {
    display: flex;
    overflow-y: hidden;
    overflow-x: scroll;
    -webkit-overflow-scrolling: touch;
    padding: 25px 5px;
    margin-bottom: 20px;
    margin-left: 50px;
    margin-right: 50px;
  }
  .movie-row::-webkit-scrollbar {
    display: none;
  }
   /* Burger Menu */
  .bm-item {
    background-color: rgb(53, 53, 53);
  }
  .navbar-item {
    height: 70px;
    align-items: center;
  }
  /* Position and sizing of burger button */
  .bm-burger-button {
    position: fixed;
    width: 30px;
    height: 25px;
    right: 15px;
    top: 10px;
  }

  /* Color/shape of burger icon bars */
  .bm-burger-bars {
    background: #373a47;
  }

  /* Color/shape of burger icon bars on hover*/
  .bm-burger-bars-hover {
    // background: #a90000;
    background: #009cc4;
  }

  /* Position and sizing of clickable cross button */
  .bm-cross-button {
    margin: 10px;
    height: 24px;
    width: 24px;
  }

  /* Color/shape of close button cross */
  .bm-cross {
    background: #bdc3c7;
  }

  .movie-row{
    display: flex;
    overflow-y: hidden;
    overflow-x: scroll;
    padding: 10px 5px;
    margin-bottom: 5px;
    margin-left: 10px;
    margin-right: 10px;
  }

  .row-poster {
    object-fit: contain;
    width: 200px;
    transition: transform 500ms;
    margin-right: 13px;
    img {
      border-radius: 6px;
    }  
  }

  .home-titles {
    h1 {
      font-size: 14px;
      font-weight: bold;
      color: white;
      margin-left: 18px;
      margin-top: 2px;
    }
  }

  .poster-view {
    img {
      max-width: 350px;
      border-radius: 10px;
    }
    padding: 30px 10px 10px 25px;
    margin: 0;
  }
  .details {
    display: flex;
    text-align: center;
  }

  .overview {
    h1 {
      font-size: 21px;
      padding: 1% 3%;
      margin: 0;
      text-align: left;
    }
    h2 {
      text-align: left;
      padding-right: 5%;
    }
  }
  .right-box {
    margin: 23px 0;
    padding: 0;
    height: auto;
    }
  
    .movie-title {
      margin: 0 3%;

      h1 {
        color: white;
        padding: 0;
        margin: 0;
        font-weight: bold;
        font-size: 25px;
      }
      h2 {
        color: white;
        padding: 0;
        font-size: 25px;
      }
      
    }
    .movie-info {
      justify-content: start;
      padding: 3% 0;
      margin: 0 3%;
      
      h3, h4 {
        font-size: 14px;
        text-align: left;
      }
    }
    .average-rating {
      margin: 10px 16px;
      width: 140px;
    }
    .description {
      padding: 0 3%;
    }
  
    .cast {
      padding: 5% 3% 0;
      display: flex;
      flex-direction: column;
      justify-content: center;
      text-align: start;
      h4 {
    
        font-size: 15px;
        padding-bottom: 20px;
      }
      h5 { 
        font-size: 13px;
      }
      .director {
        margin: 0;
      }
    }
  
    .trailer-parent {
      padding: 0;
      margin-left: 3%;
    }
  
    .trailer {
      button {
        width: 120px;
        border-radius: 5px;
      }
      a {
        font-size: 18px;
      }
      button:hover {
        width: 120px;
        border-radius: 5px;
      }
    }
    .edit-buttons {
      margin-left: 5%;
      .button {
        width: 80px;
        border-radius: 5px;
        font-size: 13px;
      }
      .button:hover {
        width: 80px;
        border-radius: 5px;
        font-size: 13px;
      }
      #edit {
        background-color: #079475;
        border: none;
      }
      #delete {
        background-color: #af006c;
        border: none;
      }
  
    }
  
    .next-page {
      flex-direction: column;
      padding: 4%;
    }
    .comments-left {
      width: 100%;
      padding: 4%;
      margin: 0;
    }
    .review-column {
      margin: 0;
    }
    .comments-right {
      padding: 1%;
      margin: 4%;
    }
  .columns {
    display: flex;
    justify-content: center;
    margin: 0;
  }
  .column.is-offset-one-third {
    margin: 0;
    padding: 3%;
    width: 380px;
  }
  

}


// Mobile

@media only screen
and (min-width: 414px)
and (max-width: 812px) {

  .title {
    position: relative;
    h2 {
      position:absolute;
      top: 40%;
      right: 34%;
      color: white;
      font-weight: bold;
      background-color: #181818;
      border-radius: 5px;
      padding: 8px 25px;
      font-size: 15px;
    }
    h2:hover {
      background-color: #202020;
    }
  }

  .logo {
    width: 150px;
    padding: 5px 0;
    margin: 15px 35px;
    }
  .logo:active {
    background-color: #202020;
  }

  .mobile-navbar {
    background-color: #202020;
}

  .navbar-item {
    height: 50px;
    align-items: center;
    border: none;
    border-radius: 0;
  }
  .navbar-item {
    padding: 0.5rem 1.35rem;
    background-color: #009cc4;
    border-bottom: 1px solid rgba(202, 202, 202, 0.336);
    margin: 0;
  }
  .navbar-end {
    padding: 0 15%;
  }
  .mobile-nav {
    background-color: #009cc4;
  }
  .sign-in {
    padding: 0.5rem 1.35rem;
  }

    /* Position and sizing of burger button */
  .bm-burger-button {
    position: fixed;
    width: 35px;
    height: 30px;
    right: 30px;
    top: 16px;
  }
  /*b Comlor/s-hapme eonf burger icon bars */
  .bm-burger-bars {
    background: #373a47;
  }

  /* Color/shape of burger icon bars on hover*/
  .bm-burger-bars-hover {
    // background: #a90000;
    background: #009cc4;
  }

  /* Position and sizing of clickable cross button */
  .bm-cross-button {
    margin: 10px;
  }

  /* Color/shape of close button cross */
  .bm-cross {
    background: #bdc3c7;
  }
  .bm-menu {
    border: none;
  }

  .movie-row{
    display: flex;
    overflow-y: hidden;
    overflow-x: scroll;
    padding: 10px 5px;
    margin-bottom: 5px;
    margin-left: 10px;
    margin-right: 10px;
  }

  .row-poster {
    object-fit: contain;
    width: 160px;
    transition: transform 500ms;
    margin-right: 10px;
    img {
      border-radius: 6px;
    }  
  }

  .home-titles {
    h1 {
      font-size: 14px;
      font-weight: bold;
      color: white;
      margin-left: 18px;
      margin-top: 2px;
    }
  }

  .poster-view {
    img {
      max-width: 360px;
      border-radius: 10px;
      margin: 0;
    }
    padding: 8% 0;
    margin: 0;
  }
  .details {
    display: flex;
    flex-direction: column;
    text-align: center;
  }

  .overview {
    h1 {
      font-size: 21px;
      text-align: center;
      padding: 5% 10%;
      margin: 0;
      text-align: left;
    }
    h2 {
      text-align: left;
    }
  }

  .right-box {
  margin: 0;
  padding: 0;
  height: auto;
  }

  .movie-title {
    margin: 0;
    display: flex;
    justify-content: center;
    h1 {
      color: white;
      padding: 0;
      margin: 0;
      font-weight: bold;
      font-size: 25px;
    }
    h2 {
      color: white;
      padding: 0;
      font-size: 25px;
    }
    
  }
  .movie-info {
    justify-content: center;
    padding: 3% 0;
    margin: 0;
    
    h3, h4 {
      font-size: 14px;
      text-align: center;
    }
  }
  .rating-container {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .average-rating {
    width: 140px;
    border-radius: 12px;
    margin: 0.6em 7.5em 0;
  }
  .overview {
    h1 {
      padding: 3% 10% 1%;
    }
  }
  .description {
    padding: 0 10%;
  }

  .cast {
    padding: 5% 0 3% 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    h4 {
  
      font-size: 15px;
      padding-bottom: 20px;
    }
    h5 { 
      font-size: 13px;
    }
    .director {
      margin: 0;
    }
  }

  .trailer-parent {
    padding: 0;
    margin: 0 60px;
    justify-content: center;
  }

  .trailer {
    button {
      width: 140px;
      border-radius: 5px;
    }
    button:hover {
      width: 140px;
      border-radius: 5px;
    }
    a {
      font-size: 15px;
    }
  }
  .edit-buttons {
    margin-left: 3%;
    .button {
      width: 80px;
      border-radius: 5px;
      font-size: 14px;
    }
    .button:hover {
      width: 80px;
      border-radius: 5px;
      font-size: 14px;
    }
    #edit {
      background-color: #079475;
      border: none;
    }
    #delete {
      background-color: #af006c;
      border: none;
    }

  }

  .next-page {
    flex-direction: column;
    padding: 4% 1%;
  }
  .comments-left {
    width: 100%;
    padding: 4%;
    margin: 0;
  }
  .review-column {
    margin: 0;
  }
  .comments-right {
    padding: 1%;
    margin: 4%;
  }
  .add-movie-section {
    padding: 50px 20px;
  }

  .login-to-review {
    h1 {
      font-size: 15px;
    }
    .button {
      border-radius: 5px;
      width: 80px;
    }
    .button:hover {
      border-radius: 5px;

    }
    a {
      font-size: 14px;
    }
  }
  .profile-container {
    h1 {
      margin-left: 18px;
      padding: 0;
      font-size: 15px;
    }
  }
  .columns {
    margin: 10% 20%;
  }
  .column {
    padding: 10%;
  }
}
@media only screen
and (min-width: 414px)
and (max-width: 812px)
and (orientation: landscape) {
  .section {
    height: auto;
  }
}



@media only screen 
and (min-width: 414px)
and (max-width: 600px)
and (orientation: portrait) {
  

  .sign-in-form {
    margin: 0 20px;
    // padding: 5% 10%;
  }
  .column {
    padding: 5% 10% 10%;
  }
}

// Small Mobile Phones

@media only screen
and (min-width: 320px)
and (max-width: 413px){
  section,
  body {
    text-align: center;
    padding: 0;
    margin: 0;
    overflow-x: hidden;
    width: 100%;
  }

  .title {
    position: relative;
    h2 {
      position:absolute;
      top: 40%;
      right: 32%;
      color: white;
      font-weight: bold;
      background-color: #181818;
      border-radius: 5px;
      padding: 8px 25px;
      font-size: 15px;
    }
    h2:hover {
      background-color: #202020;
    }
  }

  .movie-row{
    display: flex;
    overflow-y: hidden;
    overflow-x: scroll;
    padding: 10px 5px;
    margin-bottom: 5px;
    margin-left: 10px;
    margin-right: 10px;
  }

  .logo {
    width: 130px;
    padding: 5px 0;
    margin: 15px 25px;
    }
  .logo:active {
    background-color: #202020;
  }


  .mobile-navbar {
    background-color: #202020;
}

  .row-poster {
    object-fit: contain;
    width: 160px;
    transition: transform 500ms;
    margin-right: 10px;
    img {
      border-radius: 6px;
    }  
  }

     /* Position and sizing of burger button */
    .bm-burger-button {
      position: fixed;
      width: 36px;
      height: 27px;
      right: 28px;
      top: 12px;
    }
  
    /* Color/shape of burger icon bars */
    .bm-burger-bars {
      background: #373a47;
    }
  
    /* Color/shape of burger icon bars on hover*/
    .bm-burger-bars-hover {
      // background: #a90000;
      background: #009cc4;
    }
  
    /* Position and sizing of clickable cross button */
    .bm-cross-button {
      height: 24px;
      width: 24px;
    }
  
    /* Color/shape of close button cross */
    .bm-cross {
      background: #bdc3c7;
    }
    .navbar-item {
      padding: 0.5rem 1.35rem;
      background-color: #202020;
    }
    .mobile-nav {
      background-color: #202020;
    }
    .sign-in {
      padding: 0.5rem 1.35rem;
    }

    .navbar-item {
      height: 50px;
      align-items: center;
      border: none;
      border-radius: 0;
    }
  

  .row-poster {
    object-fit: contain;
    width: 140px;
    transition: transform 500ms;
    margin-right: 8px;
    img {
      border-radius: 6px;
    }  
  }

  .poster-view {
    img {
      max-width: 330px;
      border-radius: 10px;
      margin: 0;
    }
    
    padding: 20px 10px 10px 10px;
    margin: 0;
  }
  .details {
    display: flex;
    flex-direction: column;
    text-align: center;
  }

  .overview {
    h1 {
      font-size: 21px;
      text-align: center;
      padding: 5% 10%;
      margin: 0;
      text-align: left;
    }
    h2 {
      text-align: left;
    }
  }

  .right-box {
  margin: 0;
  padding: 0;
  height: auto;
  }

  .movie-title {
    margin: 0;
    display: flex;
    justify-content: center;
    h1 {
      color: white;
      padding: 0;
      margin: 0;
      font-weight: bold;
      font-size: 25px;
    }
    h2 {
      color: white;
      padding: 0;
      font-size: 25px;
    }
    
  }
  .movie-info {
    justify-content: center;
    padding: 3% 0;
    margin: 0;
    
    h3, h4 {
      font-size: 14px;
      text-align: center;
    }
  }
  .description {
    padding: 0 10%;
  }

  .cast {
    padding: 10%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    h4 {
  
      font-size: 15px;
      padding-bottom: 20px;
    }
    h5 { 
      font-size: 13px;
    }
    .director {
      margin: 0;
    }
  }

  .trailer-parent {
    padding: 0;
    margin: 0;
  }

  .trailer {
    button {
      width: 120px;
      margin-left: 15px;
      border-radius: 5px;
    }
    a {
      font-size: 17px;
    }
  }
  .edit-buttons {
    margin-left: 5%;
    .button {
      width: 70px;
      border-radius: 5px;
      font-size: 14px;
    }
    .button:hover {
      width: 70px;
      border-radius: 5px;
      font-size: 14px;
    }
    #edit {
      background-color: #079475;
      border: none;
    }
    #delete {
      background-color: #af006c;
      border: none;
    }

  }

  .next-page {
    flex-direction: column;
    padding: 3% 1%;
  }
  .comments-left {
    width: 100%;
    padding: 4%;
    margin: 0;
  }
  .review-column {
    margin: 0;
  }
  .comments-right {
    padding: 1%;
    margin: 4%;
  }
   .add-movie-section {
    padding: 50px 10px;
  }
}

