// *** Navbar ***

.navbar {
  background-color: #0f0f0f;
  height: 4.56rem;
  padding-left: 100px;
  
}

.navbar-end {
  margin-right: 100px;
}

.navbar-item {
  color: white;
  font-weight: bold;
  background-color: #0f0f0f;
  
}

.navbar:hover {
  background-color: #0f0f0f;
  font-weight: bold;
  color: white;
}

// *** Home Page *** 

// Movie rows

.movie-row{
  display: flex;
  overflow-y: hidden;
  overflow-x: scroll;
  padding: 25px 5px;
  margin-bottom: 20px;
  margin-left: 50px;
  margin-right: 50px;
}
.movie-row::-webkit-scrollbar {
  display: none;
}

.row-poster {
  object-fit: contain;
  width: 200px;
  transition: transform 500ms;
  margin-right: 15px;
  img {
    border-radius: 6px;
  }  
}

.row-poster:hover {
  transform: scale(1.09);
}

.home-titles {
  h1 {
    font-weight: bold;
    color: white;
    margin-left: 60px;
    margin-top: 10px;
  }
}

// Hero 

.title {
  position: relative;
  h2 {
    position:absolute;
    top: 40%;
    right: 45%;
    color: white;
    font-weight: bold;
    background-color: #181818;
    border-radius: 12px;
    padding: 10px 30px;
    font-size: 20px;
  }
  h2:hover {
    background-color: #202020;
  }
}

.featured {
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.8;
  h2 {
    background-color: white;
  }
}

.home-main {
  background-color: #17171b;
}        

// *** Show One Movie Page ***

// Poster image

.poster-view {
  img {
    max-width: 350px;
    border-radius: 20px;
    height: auto;
  }

  
  padding: 30px 50px;
  margin-left: 50px;
}

// Movie details


.right-box {
  background-color: #161616;
  margin-top: 30px;
  margin-right: 90px;
  border-radius: 20px;
  padding-bottom: 50px;
  height: 525px;
}

.starring, 
.director {
  h4 {
    font-weight: bold;
    font-size: 16px;
    font-family: Quicksand;
  }
  h5 {
    font-size: 12px;
    font-weight: bold;
    font-family: Quicksand;
  }
}

.details {
  display: flex;
  background-color: #08080a;  
  height: auto;
  padding-bottom: 5%;

  h1 {
    font-weight: bold;
    color: white;
    margin-left: 8%;
  }
}

.movie-title {
  display: flex;
  h1 {
    color: white;
    padding-top: 3%;
    font-weight: bold;
    font-size: 35px;
  }
  h2 {
    color: white;
    padding-top: 3%;
    font-size: 35px;
  }
  
}

.movie-info {
  display: flex;
  margin-left: 8%;
  padding-top: 10px;
  h3 {
    display: inline;
    color: #ffffff8e;
    border: 1px solid rgba(255, 255, 255, 0.575);
    padding: 4px;
    margin-right: 15px;
  }
  h4 {
    display: inline;
    color: white;
    font-size: 18px;
  }
  .duration {
    margin-left: 15px;
  }

}
.overview {
  h1 {
    margin-top: 30px;
    font-size: 26px;
    font-weight: bold;
  }
}
.description {
  color: white;
  padding: 0 8%;
  flex-wrap: wrap;

}

.cast {
  display: flex;
  padding-top: 30px;
  padding-left: 8%;
  padding-bottom: 50px;
  color: white;

}
.director {
  margin-right: 50px;
  h4 {
    font-weight: bold;

  }
}

.trailer-parent {
  display: flex;
}

// .like {
//   color: #009cc4;
//   margin-left: 200px;
// }
// .like:hover {
//   color: #17cffd;
//   transition: 500ms;
//   margin-left: 200px;
// }

// .favourite {
//   color: #eeeeee;
//   margin-left: 30px;
// }
// .favourite:hover {
//   color: #f81515;
//   margin-left: 30px;
//   transition: 500ms;
// }

.trailer-parent {
  padding-left: 7.5%;
}

.trailer {
  a {
    color: rgb(255, 255, 255);
    font-size: 20px;
    font-weight: bold;
  }
  button {
    background-color: #009cc4;
    border: 1px solid #009cc4;
    padding: 4%;
    width: 200px;
    border-radius: 12px;
    // margin-left: 35%;

    transition: transform 500ms;
  }
  button:hover {
    background-color: #03acd6;
    transition: 500ms;
    border: 1px solid #03acd6;   
    border-radius: 12px;
    // margin-left: 35%;
    transform: scale(1.03);
  }
}

.edit-buttons {
  display: flex;
  margin-left: 35%;
  
  .button {
    background-color: #009cc4;
    border: 1px solid #009cc4;
    color: white;
    font-weight: bold;
    padding: 5% 10%;
    width: 100px;
    border-radius: 10px;
    margin: 0 5px;
    transition: transform 500ms;
  }
  .button:hover {
    background-color: #03acd6;
    border: 1px solid #03acd6;
    border-radius: 12px;
    transform: scale(1.03);
    
  }
}

// *** Comments ***

.next-page {
  background-color: #111116;
  display: flex;
  padding-bottom: 100px;
  // height: 100vh;
}

.comments-left {
  margin-left: 90px;
  margin-top: 60px;
  padding: 0 10px;
  width: 35%;
  h2 {
    
    padding: 20px 0;
    font-weight: bold;
    font-size: 30px;
  }
}

.comments-box {
  height: 250px;
  padding: 20px;
  
  
}
.comments-box::-webkit-scrollbar {
  width: 1em;
}

.comments-right {
  overflow-y: scroll;
  overflow-x: hidden;
  border-radius: 20px;
  width: 50%;
  padding: 20px;
  background-color: white;
  margin-top: 60px;
}

.review-column {
  border-radius: 20px;
  margin-right: 20px;
}

.comments-title {
  h1 {
    font-weight: bold;
    font-size: 20px;
  }
}

.user-reviews-parent {
  display: flex;
  h1,
  h2 {
    font-weight: bold;
  }
}

.user-reviews {
  flex-direction: column;
}


// *** Register and Login Section ***

.section {
  background-color: #1f1e1e;
  height: 100vh;
}

.field {
  button {
    background-color: #009cc4;
    border: 1px solid #009cc4;
    padding: 10px;
    border-radius: 12px;
    color: white;
    font-weight: bold;
  }
  button:hover {
    background-color: #03acd6;
    border: 1px solid #03acd6;
    border-radius: 8px;
    color: white;
    font-weight: bold;
    transition: transform 900ms;
  }
}


// Laptops

@media only screen
and (min-width: 1025px)
and (max-width: 1280px) {
  
  .poster-view img {
    max-width: 280px;

  }
  .details {
    h1, h2 {
      font-size: 25px;
    }
  }
  .overview {
    padding: 0;
    h1 {
      font-size: 19px;
    }
    h2 {
      font-size: 15px;
    }
  }
  
  .director,
  .starring {
    h4 {
      font-size: 15px;
    }
    h5 {
      font-size: 11px;
    }   
  }
  .trailer {
    a {
      font-size: 15px;
    }
    button {
      width: 160px;
      border-radius: 10px;
    }
    button:hover {
      border-radius: 10px;
      transform: scale(1.015);
    }
  }
  .edit-buttons {
    margin-left: 25%;
    font-size: 15px;
    .button {
      font-size: 13px;
      width: 80px;
      border-radius: 10px;
      margin: 0 5px;
      padding: 4%;
    }
    .button:hover {
      border-radius: 10px;      
    }
  }
  .right-box {
    background-color: #161616;
    margin-top: 30px;
    margin-right: 90px;
    border-radius: 20px;
    height: 421px;
  }
    


}

