
.main-page {
  display: flex;
  
}

.row-poster {
  object-fit: contain;
  width: 100%;
  height: 300px;
  width: 200px;
  
}

.row-posters {
  margin-right: 5px;

}

.navbar {
  font-weight: bold;

}